# Python venv
.venv/

# Compiled Python files
*.pyc
__pycache__/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Dependency directories
venv/
node_modules/

# Build artifacts
dist/
build/
*.egg-info/


*.ipynb
test.py
test_local.py
app_test.py